.contenedor-img-monumental{
    width: 75vw;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
  }
  
  .img-monumental{
     width: 100%;
     border-radius: 10px;
  }
  .logo{
    height: 50px;
    width: 50px;
 }
 .imagen_confiteria{
    width: 20vw;
   border-radius: 10px;
 }
 .noticias_imagenes{
    width: 20vw;
    border-radius: 10px;
 }
 .publicidad_imagen{
    width: 15vw;
    margin: 5%;
    border-radius: 10px;
 }
 .img-ultimo-partido{
   width: 100%;
     border-radius: 10px;
 }
 .contenedor_img{
   width: 75vw;
   margin: auto;
   min-width: 320px;
   max-width: 1000px;
 }
 