*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
footer{
    box-sizing: border-box;
    background-color:rgb(189, 5, 5);
    position: absolute;
    width: 100%;
    
 }
 .contenedor-img-monumental{
   width: 75vw;
   margin: auto;
   min-width: 320px;
   max-width: 1000px;
 }
 
 .img-monumental{
    width: 100%;
    border-radius: 10px;
 }

 .body-titulo-parrafo{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
 }
.resumen{
   font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}
 .body-titulo{
    text-align: center;
    margin: 2%;
 }
.titulo_resumen{
    text-align: center;
}
body{
   background-image: linear-gradient(to bottom, red, white);
}
.card{
   margin-top: 5%;
}
.contenedor_padre_footer{
   display: grid;
   grid-template-columns: 33vw 33vw 33vw;
   grid-template-rows: 33vh;
   grid-template-areas: "hola segunda tercera"
                        ;
   
}

.logo{
   height: 50px;
   width: 50px;
}
.primera_footer{
   background-color: rgb(189, 5, 5);
   grid-area: hola;
}
.segunda_footer{
   background-color: rgb(189, 5, 5);
   grid-area: segunda;
}
   
.tercera_footer{
   background-color: rgb(189, 5, 5);
   grid-area: tercera;
   
}
.a_footer{
   text-decoration: none;
   list-style-type: none;
   color: rgb(255, 255, 255);
}
.iframe-ultimoPartido{
display: flex;
justify-content: center;
align-items: center;
}
.iframe{
   margin: 2%;
}
.contenedor_novedades{
   display: grid;
   grid-template-columns: 23vw 53vw 23vw;
   grid-template-rows: 183vh;
   grid-template-areas: "noticias fixture publicidad"
                        ;
}
.noticias_novedades{
   grid-area: noticias;
   background-color: rgb(255, 255, 255);
   padding: 5%;
   border: inset rgb(168, 11, 11) 5px;
}
.noticias_novedades a{
   color: red;
}
.fixture_novedades{
   grid-area: fixture;
   background-color: white;
   padding: 5%;
   
}
.publicidad_novedades{
   grid-area: publicidad;
   background-color: rgb(255, 255, 255);
   padding: 5%;
}
.publicidad_novedades a{
   color: red;
}
.imagen_confiteria{
   width: 20vw;
  border-radius: 10px;
}
.tabla_posiciones{
   width: 43vw;
   border-radius: 10px;
   margin: 2%;

}
.noticias_imagenes{
   width: 20vw;
   border-radius: 10px;
}
.publicidad_imagen{
   width: 15vw;
   margin: 5%;
   border-radius: 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
   .container {
     grid-template-columns: repeat(1, 1fr);
   }
 }
 .cart {
   background-color: #f2f2f2;
   padding: 20px;
 }
 
 .cart h2 {
   font-size: 24px;
 }
 
 .cart ul {
   list-style: none;
   padding: 0;
 }
 
 .cart li {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
 }
 
 .cart li img {
   margin-right: 10px;
 }
 
 .cart li p {
   flex-grow: 1;
 }
 
 .cart li span {
   font-weight: bold;
 }
 
 .cart button {
   background-color: red;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
 }
 .cart_img{
   width: 25vw;
 }
 /* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  
   .cart {
     padding:10px;
   }
 
   .cart h2 {
     font-size:20px
   }
 
   .cart li p{
     font-size:14px
   }
 
   .cart button{
     font-size:14px
   }
   .contenedor_novedades {
      grid-template-columns: 1fr;
      grid-template-areas: "noticias" "fixture" "publicidad";
  }
}
.carousel_img{
   height: 25px;
}